<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="用于 Python 爬虫的测试网页">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <title>Crawler Test</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: "思源宋体 CN", "Source Han Serif CN", Serif;
        }

        a {
            background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.2) 166%);
        }

        .row div {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .pictures {
            background-image: url("../home-bing.jpg");
        }

        .poems {
            background-image: url("../home-songci.jpg");
        }

        .sentences {
            background-image: url("../home-sentece.jpg");
        }
    </style>
</head>
<body class="container-fluid p-0">
<div class="row w-100 m-0">
    <div class="col-12 col-md-4 p-0 min-vh-100 pictures">
        <a href="/pictures"
           class="h-100 d-flex justify-content-start align-items-end p-5 display-5 text-decoration-none text-light font-weight-bold">
            <span class="p-0 p-lg-2 p-xl-4 text-nowrap overflow-hidden">必应壁纸</span>
        </a>
    </div>
    <div class="col-12 col-md-4 p-0 min-vh-100 poems">
        <a href="/poems"
           class="h-100 d-flex justify-content-start align-items-end p-5 display-5 text-decoration-none text-light font-weight-bold">
            <span class="p-0 p-lg-2 p-xl-4 text-nowrap overflow-hidden">宋词</span>
        </a>
    </div>
    <div class="col-12 col-md-4 p-0 min-vh-100 sentences">
        <a href="/sentences"
           class="h-100 d-flex justify-content-start align-items-end p-5 display-5 text-decoration-none text-light font-weight-bold">
            <span class="p-0 p-lg-2 p-xl-4 text-nowrap overflow-hidden">一言</span>
        </a>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
